<h1>Display your Pirate here</h1>
    Name: <%= @pirate.name %><br>
    Weight: <%= @pirate.weight %><br>
    Height: <%= @pirate.height %>

<h2>Display your first ship here</h2>
    Name: <%= @ship.name %><br>
    Booty: <%= @ship.booty %>

<h2>Display your second ship here</h2>
    Name: <%= @ship.name %><br>
    Booty: <%= @ship.booty %>
