<h1>
    Name: <%= @pirate.name %><br>
    Weight: <%= @pirate.weight %><br>
    Height: <%= @pirate.height %>
</h1>

  <% @ships.each do |ship| %>

      <h2>Name:</h2> <%=ship.name %></h2>
      <h2>Type: <%=ship.type %></h2>
      <h2>Booty: <%=ship.booty %></p>
  <% end %>

