<h1>
    Name: <%= @pirate.name %><br>
    Weight: <%= @pirate.weight %><br>
    Height: <%= @pirate.height %>
</h1>

  <% @ships.each do |ship| %>

      <p>Name:</h2> <%=ship.name %></p>
      <p>Type: <%=ship.type %></p>
      <p>Booty: <%=ship.booty %></p>
  <% end %>
